.pokemon-card {
  width: 10em;
  margin: 10px;
}

.pokemon-card mat-card-header {
  justify-content: center;
}

.pokemon-card mat-card-title {
  margin: 0 -16px;
}

.pokemon-name {
  font-size: 1em;
  text-transform: capitalize;
}

.pokemon-type {
  text-align: center;
  font-size: 0.75em;
  color: white;
  padding: 5px;
  text-transform: uppercase;
}

.bug {
  background-color: #a6b91a;
}

.dark {
  background-color: #705746;
}

.dragon {
  background-color: #6f35fc;
}

.electric {
  background-color: #f8d030;
}

.fairy {
  background-color: #d685ad;
}

.fighting {
  background-color: #c22e28;
}

.fire {
  background-color: #f08030;
}

.flying {
  background-color: #a98ff3;
}

.ghost {
  background-color: #735797;
}

.grass {
  background-color: #78c850;
}

.ground {
  background-color: #e2bf65;
}

.ice {
  background-color: #96d9d6;
}

.normal {
  background-color: #a8a77a;
}

.poison {
  background-color: #a33ea1;
}

.psychic {
  background-color: #f95587;
}

.rock {
  background-color: #b6a136;
}

.steel {
  background-color: #b7b7ce;
}

.water {
  background-color: #6390f0;
}
